.admintitle
{
    background-color: lightgray;
    color: darkblue;
    margin-left: 50px;
    margin-right: 50px;
    height: 140px;
    line-height: 140px;
    
    
}

.dashboard
{
    color: darkblue;
   
    margin-left: 50px;
    margin-right: 50px;
    height: 40px;
    line-height: 40px;
}

.form-group{margin-bottom: 15px;}
.row{margin-left: -15px;margin-right: -15px;
    margin-bottom: 5px;}


.banner-image{padding-top: 75px;
    padding-bottom: 50px; 
    text-align: center; 
    color:black; width: auto;
    background: url(images/1.jpg) no-repeat center center; 
     
}
.button{
    color: #fff;
    background-color: #c9302c; 
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px; 
    font-size: 18px; 
    border-radius: 6px;
}